@page "/employee/edit/{Id:int}"

@inject IEmployeeClientService EmployeeService
@inject NavigationManager NavigationManager

<h3>Edytuj pracownika</h3>

@if (model == null)
{
    <p>Ładowanie...</p>
}
else
{
    <EditForm Model="model" OnValidSubmit="Update">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label>Imię</label>
            <InputText class="form-control" @bind-Value="model.FirstName" />
        </div>

        <div class="mb-3">
            <label>Nazwisko</label>
            <InputText class="form-control" @bind-Value="model.LastName" />
        </div>

        <div class="mb-3">
            <label>Stanowisko</label>
            <InputText class="form-control" @bind-Value="model.Position" />
        </div>

        <button class="btn btn-success" type="submit">Zapisz</button>
        <a href="/employee" class="btn btn-secondary ms-2">Anuluj</a>
    </EditForm>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private UpdateEmployeeDto? model;

    protected override async Task OnInitializedAsync()
    {
        var employee = await EmployeeService.GetByIdAsync(Id);

        if (employee != null)
        {
            model = new UpdateEmployeeDto
            {
                FirstName = employee.FirstName,
                LastName = employee.LastName,
				Email = employee.Email,
                Position = employee.Position
            };
        }
    }

    private async Task Update()
    {
        if (model != null)
        {
            await EmployeeService.UpdateAsync(Id, model);
            NavigationManager.NavigateTo("/employee");
        }
    }
}